---
import Layout from "@/layouts/Layout.astro";
import { UserStore } from "@/stores/user";

const fullUrl = Astro.request.url;
const apiUrl = import.meta.env.ASTRO_API_URL ?? process.env.ASTRO_API_URL;
const frontendUrl = import.meta.env.ASTRO_FRONTEND_URL ?? process.env.ASTRO_FRONTEND_URL;

const params = fullUrl.replace(`${frontendUrl}/blank`, "");
const res = await fetch(`${apiUrl}/v1/auth/google/callback${params}`);
const { data } = await res.json();

if (res.status === 200) {
  Astro.cookies.set("authToken", String(data.token), {
    httpOnly: true,
    secure: true,
    maxAge: 3600,
  });
  UserStore.setKey("isLoggedIn", true);
  UserStore.setKey("user", data.user);
  console.debug("Login Success Redirecting to dashboard");
  return Astro.redirect("/dashboard");
}

console.debug("Login Failed Redirecting to Login Page at Home");
return Astro.redirect("/");
---

<Layout title="Authentication Successful">
  <div>Authentication Successful</div>
</Layout>
