---
import Layout from "@/layouts/Layout.astro";

const fullUrl = Astro.request.url;
const apiUrl = import.meta.env.ASTRO_API_URL ?? process.env.ASTRO_API_URL;

const params = fullUrl.replace(`http://localhost:4321/blank`, "");

console.log(params);

const resp = await fetch(`${apiUrl}/v1/auth/google/callback${params}`);
const respJson = await resp.json();

interface Data {
  data: {
    token: string;
    user: {
      id: string;
      username: string;
      email: string;
      role: string;
      deleted: boolean;
    };
  };
}

const { data } = respJson as Data;

console.log(respJson);
---

<Layout title="Blank">
  <div>Blank</div>
</Layout>
